/* client.css */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
	font-size: 0.85em;
	font-family:"Cousine","Helvetica Neue",Helvetica,sans-serif;
	background-color: #f0f0f0;
}

h4 {
	font-size:1.2em;
	font-weight:bolder;
	margin:0.2em;
}

.centerText {
	text-align:center;
}

#account h4 {
	text-align:left;
}

#signupMsg {
	font-size: 0.95em;
}

#welcomeMain {
	position:relative;
	max-width:600px;
	height:400px;
	margin:100px auto;
}

.dotBorder {
	border-style:dotted;
	border-color:black;
	border-width: 1px;
}

#logoBox {
	float:left;
	width:58%;
	height:100%;
	margin-right:2%;

	/*Absolute positioning
	
	position:absolute;
	left:0px;
	width:340px;
	height:400px;
	background-color:white;*/
}

#logoBox img {
	height:100%;
	width:100%;
}

#loginBox {
	float:right;
	width:40%;
	height:25%;
	background-color: white;
	margin-bottom:2%;
	padding:2px;

	/*Absolute positioning

	position:absolute;
	right:0px;
	width:250px;
	height:145px;
	background-color:white;*/
}

#signupBox {
	float:right;
	width:40%;
	height:72%;
	background-color: white;
	padding:2px;

	/*Absolute positioning

	position:absolute;
	right:0px;
	bottom:0px;
	width:250px;
	height:245px;
	background-color:white;*/
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border-style: solid;
}

label {
	float:left;
	margin-top:5px;
	margin-left:5px;
	height:2em;
	width:45%;
	text-align:left;
	clear:left;
}

input {
	float:right;
	margin-top:5px;
	margin-right:5px;
	width:50%;
}

input[type="Submit"]{
	width:auto;
}

select {
	float:right;
	margin-top:5px;
	margin-right:5px;
	width:50%;
	border: 1px dotted black;
}

.invalidEntry {
	border: 1px dotted red;
}

#profileMain {
	position:relative;
	max-width:800px;
	margin: auto;
}

#tabs ul {
	padding: 0px;
	margin: 0px;
	margin-left: 50px;
	list-style-type: none;
}

#tabs ul li {
	display: inline-block;
	clear: none;
	float: left;
	height: 24px;
}

#tabs ul li a {
	position: relative;
	margin-top: 16px;
	display: block;
	margin-left: 6px;
	line-height: 24px;
	padding-left: 10px;
	background: #f6f6f6;
	z-index: 9999;
	border: 1px dotted black;
	border-bottom: 0px;
	/*-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;*/
	width: 130px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

#tabs ul li#logout a {
	background-color: #b0b0b0;
	margin-left: 200px;
	border-bottom: 2px solid #b0b0b0;
}

#tabs ul li.active a {
	background-color: white;
	border-bottom: 4px solid white;
}

#tabs ul li a:hover {
	text-decoration: underline;
}

#tabs #ContentArea {
	padding: 15 15px;
	clear:both;
	overflow:hidden;
	line-height:19px;
	position: relative;
	top: 19px;
	z-index: 5;
	height: 600px;
	background-color:white;
}

#changePasswordBox {
	float:left;
	width:50%;
	margin-top:20px;
}

#personalInfo{
	float:left;
	clear:both;
}

#pdname {
	font-size:1.1em;
	font-weight:bold;
}

#logoImg {
	position:absolute;
	height:50px;
	width:50px;
	left;
}

#wallMessages{
	overflow: auto;

.refreshButton {
	float:right;
	height:25px;
	width:25px;
}

.refreshButton:hover {
	/*background-color: #f0f0f0;*/
	border-style:solid;
}

.refreshButton img {
	height:95%;
	width:95%;
}